# <center> DSC 350 - Week 6 - Exercise 6
***
## Alana D'Agostino
### Professor Kinney
Textbook Reference: __[Hands-On Data Analysis with Pandas (2nd Ed.) - Ch. 4](https://github.com/AlanaDAg/Hands-On-Data-Analysis-with-Pandas-2nd-edition/tree/master/ch_04)__ <br>
Textbook Data Directory: __[Chapter 4 Exercises Data Directory (GitHub)](https://github.com/AlanaDAg/Hands-On-Data-Analysis-with-Pandas-2nd-edition/tree/master/ch_04/exercises)__
***

In [2]:
# Code attribution
/
# ========================================================================================
# Title: "Hands-On Data Analysis with Pandas (Second Edition), Chapter 4
# Author: Stefanie Molin
# Date: 21 April 2024
# Modified By: Alana D'Agostino (DSC 350 - Week 6 - Exercise 6)
# Description: This program follows along with the exercises (1-9) of Chapter 4 in Stefanie Molin's "Hands-On" textbook.
## It practices aggregating Pandas DataFrames, performing calculations and DataFrames manipulations, as well as joining DataFrames.
# ========================================================================================
/

()

# <center><font color=blue>Chapter 4</font> <br><font color=mediumblue>**Aggregating Pandas DataFrames**

***
### <center><font color=#00ad43>**Using the CSV files in the `exercises/` folder and what we have learned so far in this book, complete the following exercises.**
***
#### <center><font color=darkgreen>**Page 257, Exercises 1-9**
***

***
# <font color=blue>**1.**</font> **Indexing & Slicing Data:** <center>Selecting Data by Specific Conditions

> <font color=deeppink>With the `earthquakes.csv` file, select all the earthquakes in **Japan** with a magnitude of **4.9 or greater** using the `mb` magnitude type.
>> <font color=purple>**NOTE:** Greater than or equal to 4.9; use >= operator

In [3]:
# Prepare Notebook
## Import libraries and read in data
import pandas as pd
import numpy as np

earthquakes = pd.read_csv('https://github.com/AlanaDAg/'
                          'Hands-On-Data-Analysis-with-Pandas-2nd-edition/'
                          'blob/master/ch_04/exercises/earthquakes.csv?raw=True')
earthquakes.head()

    mag magType           time                  place  tsunami parsed_place
0  1.35      ml  1539475168010  9km NE of Aguanga, CA        0   California
1  1.29      ml  1539475129610  9km NE of Aguanga, CA        0   California
2  3.42      ml  1539475062610  8km NE of Aguanga, CA        0   California
3  0.44      ml  1539474978070  9km NE of Aguanga, CA        0   California
4  2.16      md  1539474716050  10km NW of Avenal, CA        0   California

In [4]:
# Select all the earthquakes in Japan with a magnitude of 4.9 or greater
## Use the `mb` magnitude type (`magType' column)

# Use .loc[] indexer to select specific rows and/or columns when using row and column names

#Japan_quakes = display(earthquakes.loc[
                      # (earthquakes.parsed_place == 'Japan') &
                      # (earthquakes.mag >= 4.9) &
                      # (earthquakes.magType == 'mb')
                      # ])

#Japan_quakes

# ***** Here is another way to do it that uses .query() method
## .query() always returns a copy of the original DataFrame and NEVER changes the original DF

Japan_quakesTWO = earthquakes.query("parsed_place == 'Japan' and "
                                    "magType == 'mb' and "
                                    "mag >= 4.9"
                                   )
Japan_quakesTWO

,mag,magType,time,place,tsunami,parsed_place
1563,4.9,mb,1538977532250,"293km ESE of Iwo Jima, Japan",0,Japan
2576,5.4,mb,1538697528010,"37km E of Tomakomai, Japan",0,Japan
3072,4.9,mb,1538579732490,"15km ENE of Hasaki, Japan",0,Japan
3632,4.9,mb,1538450871260,"53km ESE of Hitachi, Japan",0,Japan

### **Sources:**

> **Supplemental:**
* pandas.pydata: __[How do I select a subset of a `DataFrame`?](https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html)__ <br>
* GeeksforGeeks: __[Difference between loc() and iloc() in Pandas DataFrame](https://www.geeksforgeeks.org/difference-between-loc-and-iloc-in-pandas-dataframe/)__ <br>
* Towards Data Science: __[A Python Beginner's Look at .loc](https://towardsdatascience.com/a-python-beginners-look-at-loc-part-1-cb1e1e565ec2)__<br>
* Towards Data Science: __[How to use loc and iloc for selecting data in Pandas](https://towardsdatascience.com/how-to-use-loc-and-iloc-for-selecting-data-in-pandas-bd09cb4c3d79)__

***
***
# <font color=blue>**2.**</font> **Enriching Data with DF Operations:** <center> Binning

> <font color=deeppink> **Create bins** for each full number of earthquake magnitude with the `m1` magnitude type and count how many are in each bin.
> > <font color=darkpink>For instance, the first bin is</font> (0, 1], <font color=darkpink>the second is</font> (1, 2], <font color=darkpink>and so on.

<span style="color:purple">**NOTES** </span> <center>Ch. 4, pp. 213-217
    
* <font color=darkviolet>Binning aka Discretizing (going from continuous to discrete)
  > Taking data and placing the observations into bins that match the range they fall into.
  > > Doing this reduces the number of distinct values our data can take on and make it easier to analyze.
  > > > Because, sometimes, it is more convenient to work with categories instead of specific values.
* <font color=darkviolet>Binning reduces granularity and, therefore, the information in that field is also reduced.
</div>

In [5]:
# Bin by each FULL number of magnitude (aka create ranges of magnitude)
## Takes the continuous magnitude data and bins it into categories defined by magnitude range

earthquakes.query("magType == 'ml'").assign(
    mag_bin=lambda x: pd.cut(x.mag, np.arange(0, 10))
).mag_bin.value_counts()

mag_bin
(1, 2]    3105
(0, 1]    2207
(2, 3]     862
(3, 4]     122
(4, 5]       2
(5, 6]       1
(6, 7]       0
(7, 8]       0
(8, 9]       0
Name: count, dtype: int64

***
***
# <font color=blue>**3.**</font> **Aggregating Data:** <center> Aggregating by Group

> <font color=deeppink>Using the `faang.csv` file:
> > <font color=deeppink>**Group** by the</font> ***ticker*** <br>
> and <br>
> > <font color=deeppink>**Resample** to</font> ***monthly frequency***
> 
>  <font color=deeppink>Then, make the following **aggregations:**
> > * <font color=deeppink>**Mean** of the opening price
> > * <font color=deeppink>**Maximum** of the high price
> > * <font color=deeppink>**Minimum** of the low price
> > * <font color=deeppink>**Mean** of the closing price
> > * <font color=deeppink>**Sum** of the volume traded

In [6]:
# Load data
faang = pd.read_csv('https://github.com/AlanaDAg/'
                    'Hands-On-Data-Analysis-with-Pandas-2nd-edition/'
                    'blob/master/ch_04/exercises/faang.csv?raw=True')

# Examine data types and head of DataFrame
print(faang.info())
faang.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1255 entries, 0 to 1254
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ticker  1255 non-null   object
 1   date    1255 non-null   object
 2   high    1255 non-null   float64
 3   low     1255 non-null   float64
 4   open    1255 non-null   float64
 5   close   1255 non-null   float64
 6   volume  1255 non-null   float64
dtypes: float64(5), object(2)
memory usage: 68.8+ KB
None

,ticker,date,high,low,open,close,volume
0,FB,2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900.0
1,FB,2018-01-03,184.779999,181.330002,181.880005,184.669998,16886600.0
2,FB,2018-01-04,186.210007,184.100006,184.899994,184.330002,13880900.0
3,FB,2018-01-05,186.899994,184.929993,185.589996,186.850006,13574500.0
4,FB,2018-01-08,188.899994,186.330002,187.199997,188.279999,17994700.0

**NOTE:** From pandas.pydata on `pandas.read_csv()` parameter: <br><center>
**date_format** : *str or dict of column -> format, default None*

> If used in conjunction with **parse_dates**, will parse dates according to this format.<br> 
   For anything more complex, please read in as *object* and then apply **to_datetime()** as-needed.

In [7]:
# Convert 'date' column from object data type to datetime data type
faang['date'] = pd.to_datetime(faang['date'])

# Check that data type conversion worked
faang.info()

# stackoverflow post and Towards Data Science article helped me fix the ParserError
## with trying to parse object data with a DateTimeIndex

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1255 entries, 0 to 1254
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ticker  1255 non-null   object
 1   date    1255 non-null   datetime64[ns]
 2   high    1255 non-null   float64
 3   low     1255 non-null   float64
 4   open    1255 non-null   float64
 5   close   1255 non-null   float64
 6   volume  1255 non-null   float64
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 68.8+ KB

In [8]:
# Import warnings package to suppress Pandas FutureWarning statements
## FutureWarning statements about the NumPy functions
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

# Method chaining
faang.set_index('date').groupby('ticker').resample('1M').agg(
    {
        'open': np.mean,
        'high': np.max,
        'low': np.min,
        'close': np.mean,
        'volume': np.sum
    }
)

                          open         high          low        close  \
ticker date
AAPL   2018-01-31    43.505357    45.025002    41.174999    43.501309
       2018-02-28    41.819079    45.154999    37.560001    41.909737
       2018-03-31    43.761786    45.875000    41.235001    43.624048
       2018-04-30    42.441310    44.735001    40.157501    42.458572
       2018-05-31    46.239091    47.592499    41.317501    46.384205
       2018-06-30    47.180119    48.549999    45.182499    47.155357
       2018-07-31    47.549048    48.990002    45.855000    47.577857
       2018-08-31    53.121739    57.217499    49.327499    53.336522
       2018-09-30    55.582763    57.417500    53.825001    55.518421
       2018-10-31    55.300000    58.367500    51.522499    55.211413
       2018-11-30    47.954881    55.590000    42.564999    47.808929
       2018-12-31    41.310789    46.235001    36.647499    41.066579
AMZN   2018-01-31  1301.377151  1472.579956  1170.510010  1309.010946
       2018-02-28  1447.113159  1528.699951  1265.930054  1442.363146
       2018-03-31  1542.160464  1617.540039  1365.199951  1540.367629
       2018-04-30  1475.841902  1638.099976  1352.880005  1468.220471
       2018-05-31  1590.474543  1635.000000  1546.020020  1594.903637
       2018-06-30  1699.088582  1763.099976  1635.089966  1698.823812
       2018-07-31  1786.305716  1880.050049  1678.060059  1784.649042
       2018-08-31  1891.957833  2025.569946  1776.020020  1897.851308
       2018-09-30  1969.239476  2050.500000  1865.000000  1966.077900
       2018-10-31  1799.630865  2033.189941  1476.359985  1782.058265
       2018-11-30  1622.323806  1784.000000  1420.000000  1625.483823
       2018-12-31  1572.922100  1778.339966  1307.000000  1559.443154
FB     2018-01-31   184.584284   190.660004   175.800003   184.962856
       2018-02-28   180.721578   195.320007   167.179993   180.269473
       2018-03-31   173.449524   186.100006   149.020004   173.489522
       2018-04-30   164.163332   177.100006   150.509995   163.810476
       2018-05-31   181.910909   192.720001   170.229996   182.930000
       2018-06-30   194.974763   203.550003   186.429993   195.267620
       2018-07-31   199.332381   218.619995   166.559998   199.967142
       2018-08-31   177.598695   188.300003   170.270004   177.492172
       2018-09-30   164.233158   173.889999   158.869995   164.377368
       2018-10-31   154.873479   165.880005   139.029999   154.187826
       2018-11-30   141.762857   154.130005   126.849998   141.635715
       2018-12-31   137.529475   147.190002   123.019997   137.161052
GOOG   2018-01-31  1127.200945  1186.890015  1045.229980  1130.770467
       2018-02-28  1088.629472  1174.000000   992.559998  1088.206839
       2018-03-31  1096.108085  1177.050049   980.640015  1091.490479
       2018-04-30  1038.415237  1094.165039   990.369995  1035.696187
       2018-05-31  1064.021376  1110.750000  1006.289978  1069.275901
       2018-06-30  1136.396182  1186.286011  1096.010010  1137.626668
       2018-07-31  1183.464280  1273.890015  1093.800049  1187.590472
       2018-08-31  1226.156951  1256.500000  1188.239990  1225.671732
       2018-09-30  1176.878424  1212.989990  1146.910034  1175.808934
       2018-10-31  1116.082172  1209.959961   995.830017  1110.940411
       2018-11-30  1054.971424  1095.569946   996.020020  1056.162394
       2018-12-31  1042.619998  1124.650024   970.109985  1037.420519
NFLX   2018-01-31   231.269525   286.809998   195.419998   232.908096
       2018-02-28   270.873158   297.359985   236.110001   271.443683
       2018-03-31   312.712859   333.980011   275.899994   312.228097
       2018-04-30   309.129524   338.820007   271.220001   307.466192
       2018-05-31   329.779541   356.100006   305.730011   331.536819
       2018-06-30   384.557143   423.209991   352.820007   384.133336
       2018-07-31   380.969526   419.769989   328.000000   381.515238
       2018-08-31   345.410001   376.809998   310.929993   346.257824
       2018-09-30   363.326843   383.200012   335.829987   362.641576
       2018-10-31   340.025218   386.799988   271.209991   335.445652
       2018-11-30   290.643335   332.049988   250.000000   290.344764
       2018-12-31   266.309474   298.720001   231.229996   265.302630

                         volume
ticker date
AAPL   2018-01-31  2.638718e+09
       2018-02-28  3.711577e+09
       2018-03-31  2.854911e+09
       2018-04-30  2.664617e+09
       2018-05-31  2.483905e+09
       2018-06-30  2.110498e+09
       2018-07-31  1.574766e+09
       2018-08-31  2.801276e+09
       2018-09-30  2.715888e+09
       2018-10-31  3.158994e+09
       2018-11-30  3.845306e+09
       2018-12-31  3.595690e+09
AMZN   2018-01-31  9.637120e+07
       2018-02-28  1.377840e+08
       2018-03-31  1.304001e+08
       2018-04-30  1.299196e+08
       2018-05-31  7.161550e+07
       2018-06-30  8.594130e+07
       2018-07-31  9.752110e+07
       2018-08-31  9.657580e+07
       2018-09-30  9.444550e+07
       2018-10-31  1.832208e+08
       2018-11-30  1.392900e+08
       2018-12-31  1.548127e+08
FB     2018-01-31  4.956557e+08
       2018-02-28  5.162516e+08
       2018-03-31  9.962017e+08
       2018-04-30  7.500727e+08
       2018-05-31  4.011441e+08
       2018-06-30  3.872656e+08
       2018-07-31  6.470307e+08
       2018-08-31  5.488327e+08
       2018-09-30  5.004688e+08
       2018-10-31  6.224463e+08
       2018-11-30  5.181517e+08
       2018-12-31  5.587862e+08
GOOG   2018-01-31  2.873840e+07
       2018-02-28  4.238200e+07
       2018-03-31  4.535330e+07
       2018-04-30  4.171590e+07
       2018-05-31  3.184940e+07
       2018-06-30  3.209600e+07
       2018-07-31  3.194010e+07
       2018-08-31  2.880840e+07
       2018-09-30  2.886240e+07
       2018-10-31  4.849470e+07
       2018-11-30  3.673510e+07
       2018-12-31  4.025760e+07
NFLX   2018-01-31  2.383776e+08
       2018-02-28  1.845858e+08
       2018-03-31  2.634494e+08
       2018-04-30  2.620060e+08
       2018-05-31  1.420508e+08
       2018-06-30  2.440318e+08
       2018-07-31  3.053938e+08
       2018-08-31  2.131223e+08
       2018-09-30  1.708321e+08
       2018-10-31  3.635898e+08
       2018-11-30  2.571264e+08
       2018-12-31  2.343100e+08

### **Sources:**

> **In-Text:**
* Ch. 4, pp. 230-233
    * Sections: *"Summarizing DataFrames"* & *"Aggregating by Group"*
* Ch. 4, pp. 250-254
    * Section: *"Resampling"*

> **Supplemental:**
* stackoverflow: __[AttributeError: 'DataFrame' object has no attribute 'to_datetime'](https://stackoverflow.com/questions/48387878/attributeerror-dataframe-object-has-no-attribute-to-datetime)__
* pandas.pydata: __[pandas.read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)__
* Medium: __[Module 3: Handling Time Series Data Topic: Resampling and Aggregating Time Series Data](https://medium.com/@sujathamudadla1213/module-3-handling-time-series-data-topic-resampling-and-aggregating-time-series-data-917821641077)__
* Towards Data Science: __[Resample function of Pandas](https://towardsdatascience.com/resample-function-of-pandas-79b17ec82a78)__

### **Notes:**
> On **Method Chaining:**
> * Calls are chained together in a single statement, which returns a single object instead of a series of intermediate results

***
***
# <font color=blue>**4.**</font> **Aggregation Formats:** <center> Crosstabs

> <font color=deeppink>**Build a crosstab** with: <br>
> The `earthquake` data between the</font> **tsunami** <font color=deeppink>column and the</font> **magType** <font color=deeppink>column.

> <font color=deeppink>Rather than showing the frequency count, **show** the **maximum** magnitude that was observed for *each combination.*
> > <font color=deeppink>Put the magnitude type *along the columns*.

In [9]:
# Crosstabs are a fast way of formatting aggregated data
## Not as customizable as .groupby(), .resample(), or other aggregation methods

pd.crosstab(earthquakes.tsunami,   # Index: values to group by in the rows
            earthquakes.magType,   # Columns: values to group by in the columns
            values=earthquakes.mag, # Array of values to aggregate according to
            aggfunc='max'           # `aggfunc` parameter required to use `values`
)

magType   mb  mb_lg    md   mh   ml  ms_20    mw  mwb  mwr  mww
tsunami
0        5.6    3.5  4.11  1.1  4.2    NaN  3.83  5.8  4.8  6.0
1        6.1    NaN   NaN  NaN  5.1    5.7  4.41  NaN  NaN  7.5

**NOTE:** From pandas.pydata on `pandas.crosstab()` syntax: <br>
**Syntax:** <br>
> `pandas.crosstab`(***index**, **columns**, **values**=None, **rownames**=None, **colnames**=None, **aggfunc**=None, **margins**=False, **margins_name**='ALL', **dropna**=True, **normalize**=False*)

### **Sources:**

> **In-Text:**
* Ch. 4, pp. 237-241
    * Sections: *"Aggregating data* > *"Pivot tables and crosstabs"*

> **Supplemental:**
* Medium: __[The Power of Crosstab Function in Pandas for Data Analysis and Visualization](https://medium.com/geekculture/the-power-of-crosstab-function-in-pandas-for-data-analysis-and-visualization-6c085c269fcd)__
* pandas.pydata: __[pandas.crosstab()](https://pandas.pydata.org/docs/reference/api/pandas.crosstab.html)__

***
***
# <font color=blue>**5.**</font> **Window Calculations:** <center> Rolling Windows

> <font color=deeppink>**Calculate** the **rolling 60-day** (`.rolling('60D')`) aggregations of the OHLC data by ticker for the FAANG data.
> > <font color=deeppink>Use the same **aggregations** as exercise <font color=blue>**3**:</font>
> > * <font color=deeppink>**Mean** of the opening price
> > * <font color=deeppink>**Maximum** of the high price
> > * <font color=deeppink>**Minimum** of the low price
> > * <font color=deeppink>**Mean** of the closing price
> > * <font color=deeppink>**Sum** of the volume traded

In [10]:
# Suppress FutureWarning statements about the NumPy functions again
warnings.simplefilter(action='ignore', category=FutureWarning)

# Show the FAANG data again for reference
display(faang.head())

# Method chaining again
faang.groupby('ticker').rolling(window='60D').agg(
    {
        'open': np.mean,
        'high': np.max,
        'low': np.min,
        'close': np.mean,
        'volume': np.sum
    }
)

,ticker,date,high,low,open,close,volume
0,FB,2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900.0
1,FB,2018-01-03,184.779999,181.330002,181.880005,184.669998,16886600.0
2,FB,2018-01-04,186.210007,184.100006,184.899994,184.330002,13880900.0
3,FB,2018-01-05,186.899994,184.929993,185.589996,186.850006,13574500.0
4,FB,2018-01-08,188.899994,186.330002,187.199997,188.279999,17994700.0

ValueError: window must be an integer 0 or greater

### **Sources:**

> **In-Text:**
* Ch. 4, pp. 220-22
    * Sections: *"Window Calculations"* > *"Rolling Widows"*

> **Supplemental:**
* pandas.pydata: __[Windowing operations](https://pandas.pydata.org/docs/user_guide/window.html#window-generic)__
* stackoverflow: __[ValueError: window must be an integer 0 or greater when using rolling window on reset_index)](https://stackoverflow.com/questions/78222050/valueerror-window-must-be-an-integer-0-or-greater-when-using-rolling-window-on)__

***
***
# <font color=blue>**6.**</font> **Aggregation Data:** <center> Summarizing Data with Pivot Tables

> <font color=deeppink>**Create** a pivot table of the FAANG data that **compares** the stocks.
> > <font color=deeppink>**Put** the *ticker in the rows* and **show** the **averages** (mean) of the OHLC and volume traded data.

**NOTES:**
* "... put the ticker in the rows" = **Index:** values to group by in the rows
* In `.pivot_table()` function, the *aggfunc=* parameter default is to calculate **mean**

In [ ]:
# Pivot tables are another common format for aggregating data

# Group the tickers in the rows
## Easily compare their stock values from right-to-left

# aggfunc= parameter does not need to be specified since default is mean calculation
faang.pivot_table(index='ticker')

### **Sources:**

> **In-Text:**
* Ch. 4, pp. 237-241
    * Sections: *"Aggregating data"* > *"Rolling Widows"*

> **Supplemental:**
* pandas.pydata: __[pandas.pivot_table()](https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html)__
* pandas.pydata: __[Reshaping and pivot tables](https://pandas.pydata.org/docs/user_guide/reshaping.html)__

***
***
# <font color=blue>**7.**</font> **Applying Functions:** <center> Using DataFrame Operations to enrich data

> <font color=deeppink>**Calculate** the Z-scores for each numeric column of Amazon's data (`ticker` is AMZN) in Q4 2018 using the `apply()` method.

In [11]:
##### Running into a KeyError and I think it has to do with the issue I'm having 
##### in Exercise 5. Perhaps it is not aggregating the Quarters there?

# Method chaining again
# lambda functions can be applied to rows and columns in a DataFrame
## Using `.apply()' enables clean method chaining (Pythonic)

faang.loc['2018-Q4'].query("ticker == 'AMZ'").drop(columns='ticker').apply(
    lambda x: x.sub(x.mean()).div(x.std())
).head() # Display the head of the Z-score DataFrame

KeyError: '2018-Q4'

### **Sources:**

> **In-Text:**
* Ch. 4, pp. 217-220
    * Sections: *"Using DataFrame operations to enrich data"* > *"Applying functions"*

> **Supplemental:**
* GeeksforGeek: __[Applying Lambda functions to Pandas Dataframe()](https://www.geeksforgeeks.org/applying-lambda-functions-to-pandas-dataframe/)__

***
***
# <font color=blue>**8.**</font> **Combining DataFrames:** <center> Joins

> <font color=deeppink>**Add** event descriptions:
> > <font color=deeppink>**Create a dataframe** with the following three(3) columns:
> > > `Ticker`, `date`, and `event`
> >
> > <font color=deeppink>The columns should have the following values:
> > > * `Ticker: 'FB'`
> > > * `Date: ['2018-07-25', '2018-03-19', '2018-03-20']`
> > > * `Event: ['Disappointing user growth announced ater close.', 'Cambridge Analytica story', 'FTC investigation']`

>  <font color=deeppink>**Set the index** to `['date', 'ticker']`.

> <font color=deeppink>**Merge** this data with the FAANG data using an **outer join.**

In [ ]:
# Creating an entirely new DataFrame
## Add in the specified events
events = pd.DataFrame({   # Create a dictionary to input the event data
    'ticker': 'FB',
    'date': pd.to_datetime(
        ['2018-07-25', '2018-03-19', '2018-03-20']
    ),
    'event': [
        'Disappointing user growth announced after close.',
        'Cambridge Analytica story',
        'FTC investigation'
    ]
}).set_index(['date', 'ticker'])   # Specify the index for the new 'event' DF


# Reset index to undo all the previous index modifications to original dataframe
## Using `.join()` combines the original FAANG DF with the new 'events' DF

faang.reset_index().set_index(['date', 'ticker']).join(
    events, how='outer'    # This is a full Outer join = returns all rows of both DFs
).sample(10, random_state=0)

### **Sources:**

> **In-Text:**
* Ch. 4, pp. 198-209
    * Sections: *"Merging DataFrames"*

> **Supplemental:**
* GeeksforGeek: __[Different Types of Joins in Pandas](https://www.geeksforgeeks.org/different-types-of-joins-in-pandas//)__

***
***
# <font color=blue>**9.**</font> **Aggregating DataFrames:** <center> Transformations

> <font color=deeppink>**Use the `transform()` method** on the FAANG data to represent all the values in terms of the first date in the data.
> > <font color=deeppink>To do so, **divide** all the values for each ticker by the values for the first date in the data for that ticker. <br>
> > This is referred to as an ***index***, and the data for the first date is the ***base***.<center> __[Beginners: Statistical concept - Index and base year](https://ec.europa.eu/eurostat/statistics-explained/index.php?title=Beginners:Statistical_concept_-_Index_and_base_year)__
> > > <font color=deeppink>When data is in this format, we can easily see growth over time.<br> <center><font color=#dc143c>**Hint:**</font> `transform()` can take a function name.

In [12]:
# `transform()` is often combined with `groupby()`

# faang_index is the function name for .transform()
## faang_index performs calculations on the values of each ticker
faang = faang.reset_index().set_index(['ticker', 'date'])
faang_index = (faang / faang.groupby(level='ticker').transform('first')) #func='first'

# Aggregating the transformed DF faang_index
# .agg() will show the first 3 rows of each ticker when axis= parameter is specified
faang_index.groupby(level='ticker').agg('head', 3)

                      index      high       low      open     close    volume
ticker date
FB     2018-01-02       NaN  1.000000  1.000000  1.000000  1.000000  1.000000
       2018-01-03       inf  1.017623  1.021290  1.023638  1.017914  0.930294
       2018-01-04       inf  1.025498  1.036891  1.040635  1.016040  0.764708
AAPL   2018-01-02  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
       2018-01-03  1.003984  1.013059  1.015952  1.013928  0.999826  1.155033
       2018-01-04  1.007968  1.006790  1.016661  1.013987  1.004470  0.877864
AMZN   2018-01-02  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
       2018-01-03  1.001992  1.013017  1.015199  1.013908  1.012775  1.153758
       2018-01-04  1.003984  1.021739  1.029175  1.028157  1.017308  1.121581
NFLX   2018-01-02  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
       2018-01-03  1.001328  1.022614  1.031112  1.030342  1.019794  0.783394
       2018-01-04  1.002656  1.026779  1.043905  1.051504  1.022679  0.549800
GOOG   2018-01-02  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
       2018-01-03  1.000996  1.018136  1.017202  1.015234  1.016413  1.155624
       2018-01-04  1.001992  1.024959  1.037094  1.037831  1.020094  0.811732

### **Sources:**

> **In-Text:**
* Ch. 4, pp. 236-237
    * Sections: *"Aggregating by group"*

> **Supplemental:**
* Towards Data Science: __[When to use Pandas transform() function](https://towardsdatascience.com/when-to-use-pandas-transform-function-df8861aa0dcf)__

---
___
***