# <center> DSC 350 - Week 3 - Exercise 2
***
## Alana D'Agostino
### Professor Kinney
Textbook Reference: __[Hands-On Data Analysis with Pandas (2nd Ed.)](https://github.com/AlanaDAg/Hands-On-Data-Analysis-with-Pandas-2nd-edition/tree/master/ch_02)__ <br>
Textbook Data Directory: __[Chapter 2 Data Directory (GitHub)](https://github.com/AlanaDAg/Hands-On-Data-Analysis-with-Pandas-2nd-edition/tree/master/ch_02/data)__
***

In [1]:
# Code attribution
/
# ========================================================================================
# Title: "Hands-On Data Analysis with Pandas (Second Edition), Chapter 2
# Author: Stefanie Molin
# Date: 31 March 2024
# Modified By: Alana D'Agostino (DSC 350 - Week 3 - Exercise 3 - Rough Draft)
# Description: This program practices working with Pandas DataFrames by following the
## examples in Chapter 2 of Stefanie Molin's _Hands-On Data Analysis with Pandas (2nd Ed.)_.
### The file used in these examples ( `data/parsed.csv` ) is found in the Chapter 2 Data
### Directory in the textbook GitHub.
# ========================================================================================
/

()

# <center> <font color=blue>Chapter 2 <br> Working with Pandas DataFrames</font>

# **Prep:** Library, File, and `DataFrame`

<font color=DarkGreen><center>Using the `data/parsed.csv` file and the material from this chapter, complete the following exercises to practice your `panda` skills.

In [2]:
# Import Pandas and load dataset (set dataset as DataFrame using `df`)
#import pandas as pd

# Read in .csv file from local machine
#df = pd.read_csv(r'C:/Users/alana/OneDrive/Desktop/DSC 350/Data/parsed.csv')

In [21]:
# Practice reading in file from a URL (GitHub); other processes are the same as above
import pandas as pd

df = pd.read_csv(
    'https://github.com/AlanaDAg/'
    'Hands-On-Data-Analysis-with-Pandas-2nd-edition'
    '/blob/master/ch_02/data/parsed.csv?raw=True')

In [4]:
# Perform some preliminary examination of the dataframe
## Shape(dimensions), column labels, and top rows of the DataFrame
print(f"\nDF shape: \n{df.shape}")
print(f"\nDF columns: \n{df.columns}\n")
print("DF head:")
df.head()

DF shape:
(9332, 27)

DF columns:
Index(['alert', 'cdi', 'code', 'detail', 'dmin', 'felt', 'gap', 'ids', 'mag',
       'magType', 'mmi', 'net', 'nst', 'place', 'rms', 'sig', 'sources',
       'status', 'time', 'title', 'tsunami', 'type', 'types', 'tz', 'updated',
       'url', 'parsed_place'],
      dtype='object')

DF head:

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,status,time,title,tsunami,type,types,tz,updated,url,parsed_place
0,NaN,NaN,37389218,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.008693,NaN,85.0,",ci37389218,",1.35,ml,...,automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventp...,California
1,NaN,NaN,37389202,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.020030,NaN,79.0,",ci37389202,",1.29,ml,...,automatic,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventp...,California
2,NaN,4.4,37389194,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.021370,28.0,21.0,",ci37389194,",3.42,ml,...,automatic,1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake,",dyfi,focal-mechanism,geoserve,nearby-cities,o...",-480.0,1539536756176,https://earthquake.usgs.gov/earthquakes/eventp...,California
3,NaN,NaN,37389186,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.026180,NaN,39.0,",ci37389186,",0.44,ml,...,automatic,1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475196167,https://earthquake.usgs.gov/earthquakes/eventp...,California
4,NaN,NaN,73096941,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.077990,NaN,192.0,",nc73096941,",2.16,md,...,automatic,1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1539477547926,https://earthquake.usgs.gov/earthquakes/eventp...,California

In [5]:
# Identify DF data types
df.dtypes

alert            object
cdi             float64
code             object
detail           object
dmin            float64
felt            float64
gap             float64
ids              object
mag             float64
magType          object
mmi             float64
net              object
nst             float64
place            object
rms             float64
sig               int64
sources          object
status           object
time              int64
title            object
tsunami           int64
type             object
types            object
tz              float64
updated           int64
url              object
parsed_place     object
dtype: object

In [6]:
# Load additional information and locate nulls
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9332 entries, 0 to 9331
Data columns (total 27 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   alert         59 non-null     object
 1   cdi           329 non-null    float64
 2   code          9332 non-null   object
 3   detail        9332 non-null   object
 4   dmin          6139 non-null   float64
 5   felt          329 non-null    float64
 6   gap           6164 non-null   float64
 7   ids           9332 non-null   object
 8   mag           9331 non-null   float64
 9   magType       9331 non-null   object
 10  mmi           93 non-null     float64
 11  net           9332 non-null   object
 12  nst           5364 non-null   float64
 13  place         9332 non-null   object
 14  rms           9332 non-null   float64
 15  sig           9332 non-null   int64
 16  sources       9332 non-null   object
 17  status        9332 non-null   object
 18  time          9332 non-null   int64
 19  title         9332 non-null   object
 20  tsunami       9332 non-null   int64
 21  type          9332 non-null   object
 22  types         9332 non-null   object
 23  tz            9331 non-null   float64
 24  updated       9332 non-null   int64
 25  url           9332 non-null   object
 26  parsed_place  9332 non-null   object
dtypes: float64(9), int64(4), object(14)
memory usage: 1.9+ MB

# 1. **Subsetting Data** with indexing
#### <center>& **Descriptive Statistics:** Percentiles

<font color=DeepPink>Find the **95th percentile** of earthquake magnitude in Japan using the `mb` magnitude type.

> **REMEMBER:** The 95th percentile is the 95th place out of 100 places. So this question is asking you, "What earthquake magnitude in Japan (using the mb magnitude type) comes in 95th place out of 
<center>100% - 5% = 95% <br>1 - 0.05 = 0.95

In [7]:
# Importing Pandas was performed in the Prep section
# Find the columns of concern
## Japan in 'parsed_place' column; `mb` magnitude type in 'magType' column
## Include earthquake title

df.set_index('parsed_place').filter(like='Japan', axis=0).filter(items=
                                                            ['mag', 'magType', 'title'])

# The 'parsed_place' column is the index 
# The .filter() method inputs arguments (can be stacked)
## like= for things present in the specified axis (0 is the first column in a DataFrame)
## items= to specify the other features you want displayed

              mag magType                                     title
parsed_place
Japan         4.6      mb          M 4.6 - 160km NNW of Nago, Japan
Japan         5.2     mww           M 5.2 - 7km ESE of Asahi, Japan
Japan         4.5     mwr        M 4.5 - 14km E of Tomakomai, Japan
Japan         4.7      mb          M 4.7 - 139km WSW of Naze, Japan
Japan         4.6      mb       M 4.6 - 53km ESE of Kamaishi, Japan
Japan         4.5      mb         M 4.5 - 80km ENE of Misawa, Japan
Japan         4.4      mb   M 4.4 - 65km NNE of Hachijo-jima, Japan
Japan         4.7      mb            M 4.7 - 41km E of Namie, Japan
Japan         4.4      mb        M 4.4 - 21km E of Tomakomai, Japan
Japan         4.6      mb        M 4.6 - 29km E of Tomakomai, Japan
Japan         4.9      mb      M 4.9 - 293km ESE of Iwo Jima, Japan
Japan         4.1      mb          M 4.1 - 89km NE of Miyako, Japan
Japan         4.7      mb  M 4.7 - 177km WSW of Chichi-shima, Japan
Japan         4.8      mb        M 4.8 - 12km N of Shinshiro, Japan
Japan         4.8      mb            M 4.8 - 147km E of Nago, Japan
Japan         4.6      mb        M 4.6 - 27km ESE of Chitose, Japan
Japan         4.6      mb            M 4.6 - 162km E of Nago, Japan
Japan         5.4      mb        M 5.4 - 37km E of Tomakomai, Japan
Japan         5.0     mww            M 5.0 - 144km E of Nago, Japan
Japan         4.0      mb         M 4.0 - 51km WNW of Mikuni, Japan
Japan         4.4      mb        M 4.4 - 51km SSE of Kushima, Japan
Japan         4.9      mb         M 4.9 - 15km ENE of Hasaki, Japan
Japan         4.9      mb        M 4.9 - 53km ESE of Hitachi, Japan
Japan         4.5      mb       M 4.5 - 87km ESE of Kamaishi, Japan
Japan         4.7      mb            M 4.7 - 173km E of Nago, Japan
Japan         4.8      mb          M 4.8 - 31km E of Chitose, Japan
Japan         4.3      mb       M 4.3 - 50km NNE of Shizunai, Japan
Japan         4.6      mb   M 4.6 - 213km SE of Hachijo-jima, Japan
Japan         5.0     mww        M 5.0 - 33km NW of Shizunai, Japan
Japan         4.5      mb        M 4.5 - 25km ESE of Chitose, Japan
Japan         4.6      mb          M 4.6 - 156km ENE of Nago, Japan
Japan         4.4      mb         M 4.4 - 78km ESE of Yamada, Japan
Japan         4.8      mb         M 4.8 - 58km SE of Ofunato, Japan
Japan         4.7      mb         M 4.7 - 46km ENE of Hirara, Japan
Japan         4.3      mb        M 4.3 - 25km ESE of Muroran, Japan
Japan         4.4      mb        M 4.4 - 35km E of Tomakomai, Japan
Japan         4.1      mb         M 4.1 - 97km N of Mombetsu, Japan
Japan         4.1      mb          M 4.1 - 64km ESE of Owase, Japan
Japan         4.6      mb    M 4.6 - 9km ENE of Funaishikawa, Japan
Japan         4.8      mb         M 4.8 - 65km SSE of Hasaki, Japan
Japan         4.2      mb            M 4.2 - 164km E of Nago, Japan
Japan         4.0      mb         M 4.0 - 65km E of Shizunai, Japan
Japan         4.4      mb   M 4.4 - 67km NNE of Hachijo-jima, Japan
Japan         5.3     mww            M 5.3 - 169km E of Nago, Japan
Japan         4.4      mb           M 4.4 - 67km E of Nemuro, Japan
Japan         4.4      mb            M 4.4 - 166km E of Nago, Japan
Japan         4.6      mb            M 4.6 - 167km E of Nago, Japan
Japan         4.2      mb        M 4.2 - 34km ESE of Chitose, Japan
Japan         4.4      mb            M 4.4 - 171km E of Nago, Japan
Japan         4.6      mb            M 4.6 - 171km E of Nago, Japan
Japan         4.4      mb        M 4.4 - 105km ENE of Miyako, Japan
Japan         4.6      mb        M 4.6 - 105km ENE of Miyako, Japan
Japan         4.2      mb          M 4.2 - 39km NE of Misawa, Japan
Japan         3.9     mwr    M 3.9 - 27km ESE of Kitaibaraki, Japan
Japan         4.7      mb           M 4.7 - 96km E of Hasaki, Japan
Japan         5.1     mww     M 5.1 - 23km ENE of Ishinomaki, Japan
Japan         4.6      mb          M 4.6 - 3km ESE of Sugito, Japan

In [8]:
# Find the 95th percentile of earthquake magnitude in Japan
## Specifically of the `mb` magnitude type (column 'magType')

percentile = df[(df.parsed_place == 'Japan') & (df.magType == 'mb')].mag.quantile(0.95)

print("The 95th percentile of earthquake magnitude in Japan of the `mb` magnitude type" +
      f" is: \n{percentile}")

The 95th percentile of earthquake magnitude in Japan of the `mb` magnitude type is:
4.9

# 2. **Descriptive Statistics:** Percentages

<font color=DeepPink>Find the **percentage** of earthquakes in Indonesia that were **coupled** with tsunamis.

In [20]:
# Find the columns of concern
## Indonesia in 'parsed_place' column; 'tsunami' along with earthquake-related columns

df.set_index('parsed_place').filter(like='Indonesia', axis=0).filter(items=
                                          ['mag', 'magType', 'title', 'tsunami', 'type'])

,mag,magType,title,tsunami,type
parsed_place,,,,,
Indonesia,4.7,mb,"M 4.7 - 219km SSE of Saparua, Indonesia",0,earthquake
Indonesia,4.5,mb,"M 4.5 - 120km SSW of Banda Aceh, Indonesia",0,earthquake
Indonesia,5.2,mww,"M 5.2 - 25km E of Bitung, Indonesia",0,earthquake
Indonesia,4.7,mb,"M 4.7 - 38km SSW of Nggongi Satu, Indonesia",0,earthquake
Indonesia,4.4,mb,"M 4.4 - 51km WSW of Kasiguncu, Indonesia",0,earthquake
...,...,...,...,...,...
Indonesia,4.3,mb,"M 4.3 - 7km WSW of Karangsubagan, Indonesia",0,earthquake
Indonesia,4.4,mb,"M 4.4 - 103km W of Kuripan, Indonesia",0,earthquake
Indonesia,4.0,mb,"M 4.0 - 123km NE of Bitung, Indonesia",0,earthquake
Indonesia,4.7,mb,"M 4.7 - 18km NE of Reuleuet, Indonesia",0,earthquake
Indonesia,4.7,mb,"M 4.7 - 2km ESE of Lokokrangan, Indonesia",0,earthquake

In [10]:
# Find the number of rows with 'tsunami'
df.tsunami.value_counts()

tsunami
0    9271
1      61
Name: count, dtype: int64

In [19]:
# Create object to find the number of rows with Indonesia and
## number of rows with tsunamis
### Use the .value_counts() function to find specified values
### Use the .iloc() method to find the tsunami values in the 'Indonesia' index
decimal = df[df.parsed_place == 'Indonesia'].tsunami.value_counts(normalize=True).iloc[1,]
#print(decimal)

# Multiply decimal by 100 and round to two decimal places
percentage = round((decimal * 100), 2)
print("The percentage of earthquakes in Indonesia that were coupled with tsunamis is:" +
      f" \n{percentage}%")

The percentage of earthquakes in Indonesia that were coupled with tsunamis is:
23.13%

# 3. **Descriptive Statistics:** Summary Stats

<font color=DeepPink>Calculate summary statistics for earthquakes in Nevada.

<font color=green>Summary Stats include:
- [x] Count
- [x] Mean
- [x] StDev
- [x] 5-number summary: Min, IQR (Q1, Median, Q3), Max

In [12]:
# Use the .describe() method to find summary statistical data
## Specify the column 'parsed_place' and use '==' to filter by Nevada

summary_stats = df[df.parsed_place == 'Nevada'].describe()

print("Summary statistics for earthquakes in Nevada: \n")
summary_stats

Summary statistics for earthquakes in Nevada:

,cdi,dmin,felt,gap,mag,mmi,nst,rms,sig,time,tsunami,tz,updated
count,15.000000,681.000000,15.000000,681.000000,681.000000,1.00,681.000000,681.000000,681.000000,6.810000e+02,681.0,681.0,6.810000e+02
mean,2.440000,0.166199,2.400000,153.668120,0.500073,2.84,12.618209,0.151986,10.970631,1.538314e+12,0.0,-480.0,1.538402e+12
std,0.501142,0.166228,4.626013,68.735302,0.696710,NaN,9.866963,0.084662,19.607150,5.965637e+08,0.0,0.0,6.010951e+08
min,2.000000,0.001000,1.000000,29.140000,-0.500000,2.84,3.000000,0.000500,0.000000,1.537247e+12,0.0,-480.0,1.537307e+12
25%,2.000000,0.053000,1.000000,97.380000,-0.100000,2.84,6.000000,0.106900,0.000000,1.537854e+12,0.0,-480.0,1.537928e+12
50%,2.200000,0.112000,1.000000,149.140000,0.400000,2.84,10.000000,0.146300,2.000000,1.538280e+12,0.0,-480.0,1.538428e+12
75%,2.900000,0.233000,1.000000,199.720000,0.900000,2.84,16.000000,0.187100,12.000000,1.538821e+12,0.0,-480.0,1.538878e+12
max,3.300000,1.414000,19.000000,355.910000,2.900000,2.84,61.000000,0.863400,129.000000,1.539461e+12,0.0,-480.0,1.539483e+12

# 4. **Pandas Dataframe:** Adding Columns

<font color=DeepPink>**Add a column** indicating whether the earthquake happened in a country or US state that is on the Ring of Fire.
>Use:
>> Alaska, Antarctica (look for Antarctic), Bolivia, Claifornia, Canada, Chile, Costa Rica, Ecuador, Fiji, Guatemala, Indonesia, Japan, Kermadec Islands, Mexico (be careful not to select *New* Mexico), New Zealand, Peru, Philippines, Russia, Taiwan, Tonga, and Washington.

In [13]:
# Find the correct Mexico label in the 'parsed_place' column
# Sort the 'parsed_place' column alphabetically and by unique values
df.parsed_place.sort_values().unique()

array(['Afghanistan', 'Alaska', 'Argentina', 'Arizona', 'Arkansas',
       'Ascension Island', 'Australia', 'Azerbaijan', 'Balleny Islands',
       'Barbuda', 'Bolivia', 'British Virgin Islands', 'Burma',
       'California', 'Canada', 'Carlsberg Ridge',
       'Central East Pacific Rise', 'Central Mid-Atlantic Ridge', 'Chile',
       'China', 'Christmas Island', 'Colombia', 'Colorado', 'Costa Rica',
       'Dominican Republic', 'East Timor', 'Ecuador', 'El Salvador',
       'Fiji', 'Greece', 'Greenland', 'Guam', 'Guatemala', 'Haiti',
       'Hawaii', 'Honduras', 'Idaho', 'Illinois', 'India',
       'Indian Ocean Triple Junction', 'Indonesia', 'Iran', 'Iraq',
       'Italy', 'Jamaica', 'Japan', 'Kansas', 'Kentucky',
       'Kermadec Islands', 'Kuril Islands', 'Kyrgyzstan', 'Martinique',
       'Mauritius', 'Mayotte', 'Mexico', 'Mid-Indian Ridge', 'Missouri',
       'Montana', 'Nevada', 'New Caledonia', 'New Hampshire',
       'New Mexico', 'New Zealand', 'Nicaragua', 'North Carolina',
       'Northern East Pacific Rise', 'Northern Mariana Islands',
       'Northern Mid-Atlantic Ridge', 'Oklahoma', 'Oregon',
       'Pacific-Antarctic Ridge', 'Pakistan', 'Papua New Guinea', 'Peru',
       'Philippines', 'Prince Edward Islands', 'Puerto Rico',
       'Queen Charlotte Islands', 'Romania', 'Russia',
       'Saint Eustatius and Saba', 'Saint Helena', 'Socotra',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Carolina',
       'South Georgia and South Sandwich Islands',
       'South Sandwich Islands', 'Southeast Indian Ridge',
       'Southern East Pacific Rise', 'Southern Mid-Atlantic Ridge',
       'Southwest Indian Ridge', 'Sumatra', 'Taiwan', 'Tajikistan',
       'Tennessee', 'Texas', 'Tonga', 'Turkey', 'U.S. Virgin Islands',
       'Utah', 'Uzbekistan', 'Vanuatu', 'Vermont', 'Washington',
       'Western Indian-Antarctic Ridge', 'Western Xizang', 'Wyoming',
       'Yemen'], dtype=object)

In [18]:
# Add a new column to the DataFrame
## Use .join() to change the tuple [] into a string of characters
df['Ring_of_Fire'] = df.parsed_place.str.contains(r'|'.join([
    'Alaska', 'Antarctica', 'Bolivia', 'California', 'Canada', 'Chile',
    'Costa Rica', 'Ecuador', 'Fiji', 'Guatemala', 'Indonesia', 'Japan',
    'Kermadec Islands', 'Mexico', 'New Zealand', 'Peru', 'Philippines',
    'Russia', 'Taiwan', 'Tonga', 'Washington']))

In [15]:
# See 'parsed_place' column and new 'ring_of_fire' column
df[["parsed_place", "Ring_of_Fire"]]

     parsed_place  Ring_of_Fire
0      California          True
1      California          True
2      California          True
3      California          True
4      California          True
...           ...           ...
9327   California          True
9328   California          True
9329  Puerto Rico         False
9330   California          True
9331   California          True

[9332 rows x 2 columns]

# 5. **New DataFrame Column:** Calculations

<font color=DeepPink>**Calculate:**
* <font color=DeepPink>The number of earthquakes **in** the Ring of Fire locations
<br> <font color=LightPink> <code>    AND </code>
* <font color=DeepPink>The number **outside** of them.
</font>

In [16]:
# value_counts() will tell you true / false
df.Ring_of_Fire.value_counts()

Ring_of_Fire
True     7185
False    2147
Name: count, dtype: int64

> **Note:**
>> **True** = the number of earthquakes in Ring of Fire locations <br>
>> **False** = the number of earthquakes that are NOT in Ring of Fire locations

# 6. **New DataFrame Column:** Tsunami Calculations

<font color=DeepPink>Find the **tsunami** count along the Ring of Fire.

In [17]:
# Use sum() function to add the Ring of Fire and tsunami locations
rof_tsunami = sum(df.loc[df.Ring_of_Fire, 'tsunami'])

print(f"The tsunami count along the Ring of Fire is: \n{rof_tsunami}")

The tsunami count along the Ring of Fire is:
45