# <center> DSC 350 - Week 6 - Term Project <br> **Milestone 2**
***
## Alana D'Agostino
### Professor Kinney
#### 21 April 2024
***

# <center>Prepare Notebook

In [6]:
# Import libraries and prep Notebook
import pandas as pd

# Load CSV data as a Pandas DataFrame
books = pd.read_csv(r'C:/Users/alana/OneDrive/Desktop/DSC 350/'
                    'FlatFile_ Term_Project_Data/books.csv')

books.head(3)

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...

# <center>Transformation 1

In [10]:
# Perform some transformations

# Replace Headers using a dictionary
## key = old name
## value = new name
new_headers = {'id':'ID', 
               'book_id':'book_ID', 
               'best_boook_id':'best_book_ID', 
               'work_id':'work_ID', 
               'books_count':'books_count', 
               'isbn':'ISBN', 
               'isbn13':'ISBN_13', 
               'authors':'Authors', 
               'original_publication_year':'OG_publication_year', 
               'original_title':'OG_title', 
               'title':'title', 
               'language_code':'lang_code', 
               'average_rating':'mean_rating', 
               'ratings_count':'ratings_count', 
               'work_ratings_count':'work_ratings_count', 
               'work_text_reviews_count':'work_txtreviews_count', 
               'ratings_1':'rate_1', 
               'ratings_2':'rate_2', 
               'ratings_3':'rate_3', 
               'ratings_4':'rate_4', 
               'ratings_5':'rate_5', 
               'imgage_url':'img_URL', 
               'small_image_url':'sml_img_URL'
              }

# Use rename() method
books.rename(columns=new_headers,
            inplace=True)

# Confirm transformation
books.head(3)

,ID,book_ID,best_book_id,work_ID,books_count,ISBN,ISBN_13,Authors,OG_publication_year,OG_title,...,ratings_count,work_ratings_count,work_txtreviews_count,rate_1,rate_2,rate_3,rate_4,rate_5,image_url,sml_img_URL
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...

In [24]:
# \
# Code attribution: Transformation 1
## GeeksforGeeks - 'https://www.geeksforgeeks.org/'
## 'how-to-rename-multiple-column-headers-in-a-pandas-dataframe/'
# \

# <center>Transformation 2

In [17]:
# Find duplicate data

# Use Pandas `.duplicated()` method to find duplicate rows (redundant data)
find_duplicate_rows = books.duplicated()

# Display duplicates
print(find_duplicate_rows)

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Length: 10000, dtype: bool

In [23]:
# \
# Code attribution: Transformation 2
## SaturnCloud - 'https://saturncloud.io/blog/'
## 'how-to-find-all-duplicate-rows-in-a-pandas-dataframe/'
# \

# <center>Transformation 3

In [26]:
# Identify outliers

# Import NumPy and scipy for calculation
import numpy as np
from scipy import stats

# Use Z-score
## Find any outliers in the count of ratings
z_score = np.abs(stats.zscore(books['ratings_count']))

# Define outliers as a ratings count of greater than 5,780,653
threshold = 5780653
ratings_count_outliers = books[z_score > threshold]

print(ratings_count_outliers)

Empty DataFrame
Columns: [ID, book_ID, best_book_id, work_ID, books_count, ISBN, ISBN_13, Authors, OG_publication_year, OG_title, title, lang_code, mean_rating, ratings_count, work_ratings_count, work_txtreviews_count, rate_1, rate_2, rate_3, rate_4, rate_5, image_url, sml_img_URL]
Index: []

[0 rows x 23 columns]

In [ ]:
# \
# Code attribution: Transformation 3
## SaturnCloud - 'https://saturncloud.io/blog/'
## 'how-to-detect-and-exclude-outliers-in-a-pandas-dataframe/'
# \

# <center>Transformation 4

In [27]:
# Identify outliers

# Z-score again
## Find any outliers in the Original Publication Year
z_score = np.abs(stats.zscore(books['OG_publication_year']))

# Define outliers as a ratings count of greater than 1950
threshold = 1950
OG_pub_outliers = books[z_score > threshold]

print(OG_pub_outliers)

Empty DataFrame
Columns: [ID, book_ID, best_book_id, work_ID, books_count, ISBN, ISBN_13, Authors, OG_publication_year, OG_title, title, lang_code, mean_rating, ratings_count, work_ratings_count, work_txtreviews_count, rate_1, rate_2, rate_3, rate_4, rate_5, image_url, sml_img_URL]
Index: []

[0 rows x 23 columns]

# <center> Transformation 5

In [34]:
# Inconsistent data entry
## Fix whitespace

# Find unique values in the Authors column
##  use .unique() method
Authors_col = books['Authors'].unique()

# Sort values and see data
Authors_col.sort()
Authors_col

array(['A. Manette Ansay', 'A. Meredith Walters',
       'A.A. Milne, Ernest H. Shepard', ..., 'ياسر حارب', 'يوسف زيدان',
       'يوسف زيدان, Youssef Ziedan'], dtype=object)

In [33]:
# Remove whitespace
books['Authors'] = books['Authors'].str.strip()

# Confirm that whitespaces were removed
print(books['Authors'].unique())

['Suzanne Collins' 'J.K. Rowling, Mary GrandPré' 'Stephenie Meyer' ...
 'Ian Mortimer' 'Peggy Orenstein' 'John Keegan']

In [ ]:
# \
# Code attribution: Transformation 5
## Nerd For Tech from Medium - 'https://medium.com/nerd-for-tech/'
## 'data-cleaning-inconsistent-data-entry-7731ac3c52c7'
# \

**NOTE:**
> I may undo the whitespace removal if I run into issues with calculations and/or comparisons later.