# <center> DSC 350 - Week 8 - Term Project <br> **Milestone 3**
***
## Alana D'Agostino
### Professor Kinney
#### 21 April 2024
***

# <center>Prepare Notebook

In [72]:
# Import libraries and prep notebook
import pandas as pd
import requests

In [73]:
# Retrieve book IDs from Google Books API
## for Mary Shelley books
maryshelley_query = 'intitle:frankenstein+inauthor:shelley'
params = {"q": maryshelley_query}
# API URL
url = r'https://www.googleapis.com/books/v1/volumes'

# get.()
response = requests.get(url, params=params)

# Use .json() to work with JSON data
response_dict = response.json()
# View the dictionary keys
response_dict.keys()

dict_keys(['kind', 'totalItems', 'items'])

In [74]:
# View 'totalItems'
response_dict['totalItems']

98

In [75]:
# Google Books method calls: 'id'
maryshelley_volume_ids = {vol['id'] for vol in response_dict['items']}
maryshelley_volume_ids

{'4HBqDwAAQBAJ',
 'ExUHFNOmIIYC',
 'IvPCt00pAT0C',
 'UDg1EAAAQBAJ',
 'UL6Cwv2Z1iQC',
 '_R68AAAAQBAJ',
 'dW8M0BD4ozMC',
 'hu1WAAAAYAAJ',
 'ktQsEAAAQBAJ',
 'uS-cEAAAQBAJ'}

In [76]:
# Create Pandas DataFrame for book IDs
maryshelley_ids_df = pd.DataFrame(maryshelley_volume_ids)

# View Mary Shelley volume IDs DF information
display(maryshelley_ids_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       10 non-null     object
dtypes: object(1)
memory usage: 212.0+ bytes

None

# <center> Transformation 1

In [77]:
# Replace Headers using a dictionary

# Use .columns() method because the imported DF doesn't have a column label to replace
maryshelley_ids_df.columns = ['ID']

# Confirm transformation
maryshelley_ids_df

             ID
0  ExUHFNOmIIYC
1  UL6Cwv2Z1iQC
2  hu1WAAAAYAAJ
3  UDg1EAAAQBAJ
4  uS-cEAAAQBAJ
5  dW8M0BD4ozMC
6  _R68AAAAQBAJ
7  IvPCt00pAT0C
8  ktQsEAAAQBAJ
9  4HBqDwAAQBAJ

# <center> Transformation 2

In [110]:
# Retrieve book volume IDs from Google Books API
## for Suzanne Collins books
suzannecollins_query = 'intitle:Hunger+inauthor:Collins'
t2_params = {"q": suzannecollins_query}
# API URL
url = r'https://www.googleapis.com/books/v1/volumes'

# get.()
t2_response = requests.get(url, params=t2_params)

# Use .json() to work with JSON data
t2_response_dict = t2_response.json()
# View the dictionary keys
t2_response_dict.keys()

dict_keys(['kind', 'totalItems', 'items'])

In [111]:
# View 'totalItems'
t2_response_dict['totalItems']

101

In [112]:
# Google Books method calls: 'id'
suzannecollins_volume_ids = {vol['id'] for vol in t2_response_dict['items']}
suzannecollins_volume_ids

{'2AbKAgAAQBAJ',
 '2n4evAEACAAJ',
 '8oGEzgEACAAJ',
 'CxbxAAAAMAAJ',
 'GWxGBAAAQBAJ',
 'NCZZj_GNafAC',
 'Yz8Fnw0PlEQC',
 'c9RGBAAAQBAJ',
 'j38WswEACAAJ',
 'zM-vZ-JiSFYC'}

In [113]:
# Create Pandas DataFrame for book IDs
suzannecollins_ids_df = pd.DataFrame(suzannecollins_volume_ids)

# View Mary Shelley volume IDs DF information
display(suzannecollins_ids_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       10 non-null     object
dtypes: object(1)
memory usage: 212.0+ bytes

None

In [114]:
# Replace Headers using a dictionary

# Use .columns() method because the imported DF doesn't have a column label to replace
suzannecollins_ids_df.columns = ['ID']

# Confirm transformation
suzannecollins_ids_df

             ID
0  2AbKAgAAQBAJ
1  c9RGBAAAQBAJ
2  zM-vZ-JiSFYC
3  GWxGBAAAQBAJ
4  j38WswEACAAJ
5  Yz8Fnw0PlEQC
6  NCZZj_GNafAC
7  CxbxAAAAMAAJ
8  8oGEzgEACAAJ
9  2n4evAEACAAJ

# <center> Transformation 3

In [115]:
# Retrieve book volume IDs from Google Books API
## for Stephenie Meyer books
stepheniemeyer_query = 'inauthor:meyer'
t3_params = {"q": stepheniemeyer_query}
# API URL
url = r'https://www.googleapis.com/books/v1/volumes'

# get.()
t3_response = requests.get(url, params=t3_params)

# Use .json() to work with JSON data
t3_response_dict = t3_response.json()
# View the dictionary keys
t3_response_dict.keys()

dict_keys(['kind', 'totalItems', 'items'])

In [116]:
# View 'totalItems'
t3_response_dict['totalItems']

138

In [117]:
# Google Books method calls: 'id'
stepheniemeyer_volume_ids = {vol['id'] for vol in t3_response_dict['items']}
stepheniemeyer_volume_ids

{'02CnDwAAQBAJ',
 '1u6_DwAAQBAJ',
 '3OrlBQAAQBAJ',
 'DK4mFLeMorQC',
 'F6bgDwAAQBAJ',
 'JwKaQ6msi9MC',
 'RfO1J6hjcdgC',
 'lw99Oii9R90C',
 'n9iuwXlZVeIC',
 'r0hJAQAAMAAJ'}

In [118]:
# Create Pandas DataFrame for book IDs
stepheniemeyer_ids_df = pd.DataFrame(stepheniemeyer_volume_ids)

# View Mary Shelley volume IDs DF information
display(stepheniemeyer_ids_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       10 non-null     object
dtypes: object(1)
memory usage: 212.0+ bytes

None

In [119]:
# Replace Headers using a dictionary

# Use .columns() method because the imported DF doesn't have a column label to replace
stepheniemeyer_ids_df.columns = ['ID']

# Confirm transformation
stepheniemeyer_ids_df

             ID
0  02CnDwAAQBAJ
1  DK4mFLeMorQC
2  r0hJAQAAMAAJ
3  F6bgDwAAQBAJ
4  RfO1J6hjcdgC
5  n9iuwXlZVeIC
6  JwKaQ6msi9MC
7  1u6_DwAAQBAJ
8  lw99Oii9R90C
9  3OrlBQAAQBAJ

# <center> Transformation 4

In [120]:
# Retrieve book volume IDs from Google Books API
## for Harper Lee books
harperlee_query = 'intitle:mocking+inauthor:lee'
t4_params = {"q": harperlee_query}
# API URL
url = r'https://www.googleapis.com/books/v1/volumes'

# get.()
t4_response = requests.get(url, params=t4_params)

# Use .json() to work with JSON data
t4_response_dict = t4_response.json()
# View the dictionary keys
t4_response_dict.keys()

dict_keys(['kind', 'totalItems', 'items'])

In [121]:
# View 'totalItems'
t4_response_dict['totalItems']

3

In [122]:
# Google Books method calls: 'id'
harperlee_volume_ids = {vol['id'] for vol in t4_response_dict['items']}
harperlee_volume_ids

{'LifSkXZwQ-EC', 'klOOswEACAAJ', 'yuhzHAAACAAJ'}

In [123]:
# Create Pandas DataFrame for book IDs
harperlee_ids_df = pd.DataFrame(harperlee_volume_ids)

# View Mary Shelley volume IDs DF information
display(harperlee_ids_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      object
dtypes: object(1)
memory usage: 156.0+ bytes

None

In [124]:
# Replace Headers using a dictionary

# Use .columns() method because the imported DF doesn't have a column label to replace
harperlee_ids_df.columns = ['ID']

# Confirm transformation
harperlee_ids_df

             ID
0  klOOswEACAAJ
1  LifSkXZwQ-EC
2  yuhzHAAACAAJ

# <center> Transformation 5

In [125]:
# Retrieve book volume IDs from Google Books API
## for J.K. Rowling books
jkrowling_query = 'intitle:potter+inauthor:rowling'
t5_params = {"q": jkrowling_query}
# API URL
url = r'https://www.googleapis.com/books/v1/volumes'

# get.()
t5_response = requests.get(url, params=t5_params)

# Use .json() to work with JSON data
t5_response_dict = t5_response.json()
# View the dictionary keys
t5_response_dict.keys()

dict_keys(['kind', 'totalItems', 'items'])

In [126]:
# View 'totalItems'
t5_response_dict['totalItems']

83

In [127]:
# Google Books method calls: 'id'
jkrowling_volume_ids = {vol['id'] for vol in t5_response_dict['items']}
jkrowling_volume_ids

{'5eSxngEACAAJ',
 '5iTebBW-w7QC',
 'R7YsowJI9-IC',
 'Sm5AKLXKxHgC',
 'UM3LAwAACAAJ',
 '_oaAHiFOZmgC',
 'gal9MtXKC68C',
 'gqX7rQEACAAJ',
 'he3qPAAACAAJ',
 'xYotngEACAAJ'}

In [128]:
# Create Pandas DataFrame for book IDs
jkrowling_ids_df = pd.DataFrame(jkrowling_volume_ids)

# View Mary Shelley volume IDs DF information
display(jkrowling_ids_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       10 non-null     object
dtypes: object(1)
memory usage: 212.0+ bytes

None

In [129]:
# Replace Headers using a dictionary

# Use .columns() method because the imported DF doesn't have a column label to replace
jkrowling_ids_df.columns = ['ID']

# Confirm transformation
jkrowling_ids_df

             ID
0  UM3LAwAACAAJ
1  gal9MtXKC68C
2  5eSxngEACAAJ
3  R7YsowJI9-IC
4  he3qPAAACAAJ
5  Sm5AKLXKxHgC
6  5iTebBW-w7QC
7  xYotngEACAAJ
8  _oaAHiFOZmgC
9  gqX7rQEACAAJ

# **Sources:**

## Notebook Preparation
* Medium:
  * __[Get Google Book Ids using Python](https://medium.com/@jprebys/get-google-book-ids-using-python-4773f533b769)__ Jacob Prebys, (2020, October 7)
## Transformations
* GeeksforGeeks:
  * __[Add column names to dataframe in Pandas](https://www.geeksforgeeks.org/add-column-names-to-dataframe-in-pandas/)__ (2023, November 24)